.build
tags
Makefile
blib
cover_db
pm_to_blib
Makefile.old
*~
MYMETA.json
MYMETA.yml
contrib/sessions/
contrib/logs/
*.sw?
tools/plugins_auto_tests/perlbrew
tools/plugins_auto_tests/plugins_list
tools/plugins_auto_tests/result.csv
Dancer2-[0-9]*
t/sessions
/.tidyall.d
/perltidy.LOG
tools/logs/

# Don't track these when using Carton:
/local
/cpanfile.snapshot
