.build
Makefile
blib
cover_db
pm_to_blib
Makefile.old
*~
MYMETA.json
MYMETA.yml
contrib/sessions/
contrib/logs/
*.sw?
tools/plugins_auto_tests/perlbrew
tools/plugins_auto_tests/plugins_list
tools/plugins_auto_tests/result.csv
